.blog-card {
    width: 100%;
    background-color: cadetblue;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.blog-card:hover {
    transform: scale(1.03)
}

.blog-card-img-container {
    width: 200px;
    height: 190px;
}

.blog-card-img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


.blog-card h1 {
    width: 70%;
    font-size: 40px;
    font-weight: 800;
}