/* style={{ "backgroundColor": "#0a192f", "color": "white", "padding": "20px 10px", "display": "flex", "justifyContent": "space-around" }} */

.logo{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.5px;
    margin-left: 5%;
}

.navbar {
    background-color: #0e1525;
    color: white;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    /* color: white; */
    text-decoration: none;
    color: white;
}


/* Dropdown */
.dropdown {
    position: relative;
}

.link-box {
    position: absolute;
    font-size: 15px;
    color: black;
    background-color: rgb(234, 231, 231);
    top: 22px;
    width: 80%;
    padding: 4px 5px 10px 5px
    /* margin-left: -50px; */
}


.user-name{
    background-color: aquamarine;
}

.link-box a {
    color: black;
    line-height: 30px;
}

.dropdown-btn {
    cursor: pointer;
    /* color: white; */
    border: none;
    padding: 8px 25px 8px 20px;
    border-radius: 2px;
    margin-right: 70px;
    background-color: #ffffff;
    position: relative;
}

.dropdown-btn img {
    height: 15px;
    /* margin: 4px 0 0 0; */
    position: absolute;
}

/* If the browser window is 600px or smaller, the background color will be lightblue: */

@media only screen and (max-width: 600px) {
    .logo{
        font-size: 19px;
        letter-spacing: 1.2px;
        margin-left: 5px;
    }
    .dropdown {
        margin-right: -60px;
    }
}